/*node js */
.node-content {
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding-top: 10%;
    margin-bottom: 4%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.node-se {
    text-align: center;
    margin: auto 5%;
    margin-bottom: 2rem;
}

.node-se h1 {
    font-size: 2.5rem;
    color: #333;
}

.node-se h3 {
    font-size: 15px;
    color: #3f3ceb;
}

.node-se p {
    font-size: 14px;
    margin-top: 5px;
    color: #1d1f22;
    line-height: 1.5;
}

.node-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.node-item:hover {
    border: 1px solid #0932eb;

}

.node-item {
    background-color: #fff;
    border-radius: 8px;
    padding: 1.5rem;
    max-width: 300px;
    width: calc(50% - 1rem);
    margin: 1rem;
    text-align: center;
    transition: transform 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



.node-item h2 {
    font-size: 16px;
    color: #000000;
    margin: 1rem 0;
}

.node-item p {
    font-size: 14px;
    color: #555;
    line-height: 1.4;
}

.ne-icon {
    font-size: 1.5rem;
    background-color: #f9f9f9;
    border-radius: 50%;
    padding: 10px;
    color: rgb(49, 40, 175);
    width: 50px;
    height: 40px;
}

.reasons-container {
    margin: 5% auto;
    padding: 6% 6%;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.reasons-container h2 {
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 20px;
    color: #333;
}

.reasons-container h1 {
    font-size: 1rem;
    text-align: left;
    margin-bottom: 20px;
    color: #007bff;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.reasons-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
    gap: 10px;
    width: 80%;
}

.reason-card {
    border: 1px solid #62b9b2;
    border-radius: 5px;
    padding: 15px;
    max-width: 200px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reason-icon {
    background-color: #f4f4f4;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    color: rgb(49, 40, 175);
    font-size: 1.5rem;
}

.reasons-list h3 {
    font-size: 14px;
    margin: 0;
    color: #444;
}

.node-img {
    margin-left: 20px;
}

.node-img img {
    margin-top: 5%;
    max-width: 100%;
    height: auto;
    border-radius: 10%;
}

@media only screen and (max-width: 768px) {
    .node-content {
        padding: 1rem;
    }

    .node-se h1 {
        font-size: 2rem;
    }

    .node-se h3 {
        font-size: 12px;
    }

    .node-se p {
        font-size: 12px;
    }

    .node-list {
        flex-direction: column;
        align-items: center;
    }

    .node-item {
        width: calc(100% - 2rem);
    }

    .reasons-container {
        padding: 4%;
    }

    .reasons-container h2,
    .reasons-container h1 {
        font-size: 1.3rem;
    }

    .content-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .reasons-list {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .reason-card {
        max-width: 90%;
    }

    .node-img {
        margin-left: 0;
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {
    .node-se h1 {
        font-size: 1.5rem;
    }

    .node-se h3 {
        font-size: 11px;
    }

    .node-se p {
        font-size: 11px;
    }

    .node-item {
        padding: 1rem;
    }

    .node-item h2 {
        font-size: 14px;
    }

    .node-item p {
        font-size: 12px;
    }

    .reason-card {
        padding: 10px;
    }

    .reasons-list h3 {
        font-size: 12px;
    }

    .node-img img {
        margin-top: 3%;
    }
}


/*nest js developments aply css style*/
.nest-contents {
    display: flex;
    padding: 5% 10%;
    align-items: flex-start;

}

.nest-image {
    width: 40%;
    margin-right: 20px;
    margin-top: 5%;
    border-radius: 10%;
    object-fit: cover;
}

.nestjs-features {
    flex: 1;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.feature {
    border: 1px solid #b7b4c7;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.feature h3 {
    margin-top: 10px;
    font-size: 18px;
    color: #242629;
    margin-bottom: 10px;
}

.feature p {
    font-size: 14px;
    color: #333;
}

.feature-icon {
    background-color: #f4f4f4;
    border-radius: 50%;
    width: 50px;
    text-align: center;
    height: 50px;
    padding: 10px;
    color: rgb(49, 40, 175);
    font-size: 1.5rem;
}

.nestjs-features h2 {
    font-size: 20px;
    color: #1d1f22;
    font-family: 'Lucida Sans';
}

.nestjs-features h1 {
    font-size: 16px;
    color: #24282c;
    margin-bottom: 5%;
}

.nest-info {
    border-radius: 8px;
    padding: 20px;
    padding-top: 10%;
    text-align: center;
}

.nest-info h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nest-info h2 {

    text-align: center;
    font-size: 14px;
    color: #0262c9;
    margin-bottom: 15px;
}

.nest-i {
    color: #007bff;
}

@media only screen and (max-width: 768px) {
    .nest-contents {
        flex-direction: column;
        padding: 2rem 5%;
    }

    .nest-image {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .nestjs-features h2 {
        font-size: 1.5rem;
    }

    .features-grid {
        grid-template-columns: 1fr;
    }

    .feature {
        padding: 15px;
    }

    .nest-info {
        padding: 15px;
    }

    .nest-info h1 {
        font-size: 1.5rem;
    }

    .nest-info h2 {
        font-size: 12px;
    }
}

@media only screen and (max-width: 480px) {
    .nest-contents {
        padding: 1rem;
    }

    .nestjs-features h2 {
        font-size: 1.3rem;
    }

    .feature h3 {
        font-size: 14px;
    }

    .feature p {
        font-size: 12px;
    }

    .nest-info h1 {
        font-size: 1.2rem;
    }

    .nest-info h2 {
        font-size: 11px;
    }
}


/*php development css*/
.php-team-container {
    padding: 10%;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;

}

.php-team-container h2 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-family: 'Lucida Sans';
    text-align: left;
    color: rgb(49, 40, 175)
}

.php-team-container h4 {
    font-size: 14px;
    margin-bottom: 1rem;
    text-align: left;
    color: #1c1d24;
}

.php-team-content-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.php-team-content {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    align-items: flex-start;
    transition: transform 0.2s;
    text-align: left;
}

.ph-icon {
    background-color: #f4f4f4;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    color: rgb(49, 40, 175);
    font-size: 1.5rem;

}

.php-team-content h3 {
    font-size: 1rem;
    margin: 0.5rem 0;
    color: #333;
}

.php-team-content p {
    color: #555;
    font-size: 14px;
    line-height: 1.6;
}

/*services php*/
.php-services-container {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding: 40px 20px;
}

.php-img img {
    width: 250px;
    margin-top: 2rem;
    align-self: center;
    border-radius: 8px;
}

.php-services {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.php-services h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
    font-family: 'Lucida Sans', sans-serif;
}

.php-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.php-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.php-card:hover {
    background-color: rgb(241, 242, 247);
    border-color: #8fa9c5;
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.php-icon {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #eff6fa;
    color: rgb(49, 40, 175);
    margin: 0 auto 10px auto;
    font-size: 1.5rem;
}

.php-card h3 {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
}

.php-card p {
    font-size: 0.9rem;
    color: #555;
}

@media only screen and (max-width: 768px) {
    .php-team-container {
        padding: 2rem;
    }

    .php-team-content-container {
        flex-direction: column;
        align-items: center;
    }

    .php-team-content {
        width: 100%;
        max-width: 300px;
    }

    .php-services-container {
        padding: 20px;
    }

    .php-img img {
        width: 100%;
        max-width: 250px;
        margin-top: 1rem;
    }

    .php-services h2 {
        font-size: 1.5rem;
    }

    .php-grid {
        flex-direction: column;
        align-items: center;
    }

    .php-card {
        width: 90%;
    }

    .php-card h3 {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 480px) {
    .php-team-container h2 {
        font-size: 1.2rem;
    }

    .php-team-container h4 {
        font-size: 12px;
    }

    .php-team-content p {
        font-size: 12px;
    }

    .php-services h2 {
        font-size: 1.3rem;
    }

    .php-card h3 {
        font-size: 12px;
    }

    .php-card p {
        font-size: 11px;
    }
}


/* Laravel development css*/
.laravel-development {
    padding: 5%;
    border-radius: 8px;
    margin-bottom: 4%;

}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.l-con h1 {
    font-size: 1.3rem;
    color: #333;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 20px;
}

.l-con h2 {
    font-size: 1rem;
    color: #0932eb;
    text-align: center;
    margin-bottom: 20px;
}

.l-con p {
    font-size: 14px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    margin-bottom: 3%;
}

.skill-card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    width: 200px;
}

.skill-card .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #eff6fa;
    color: rgb(49, 40, 175);
    margin: 0 auto 10px auto;
    font-size: 1.5rem;
}

.skill-card h3 {
    font-size: 1rem;
    color: #333;
    margin: 10px 0;
}

.skill-card p {
    font-size: 14px;
    color: #666;
}

.l-img {

    align-items: center;
    justify-content: center;
    display: flex;
}

.l-img img {

    align-items: center;
    justify-content: center;
    width: 300px;
}

/*srvices*/
.laravel-services {
    padding: 20px;
    margin-bottom: 3%;
    border-radius: 8px;

}

.laravel-header h2 {
    color: #333;
    font-size: 20px;
}

.laravel-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.laravel-header-image {
    width: 100px;
    height: auto;
    margin-right: 15px;
}

.laravel-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.laravel-card {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    padding: 20px;
    width: 250px;

}

.laravel-card-content {
    display: flex;
    flex-direction: column;
}

.laravel-title {
    font-size: 16px;
    color: #424547;
    margin-bottom: 10px;
}

.laravel-description {
    font-size: 13px;
    color: #555;
}

@media only screen and (max-width: 768px) {
    .laravel-development {
        padding: 15px;
    }

    .skills-container {
        flex-direction: column;
        align-items: center;
    }

    .l-con h1 {
        font-size: 1rem;
    }

    .l-con h2 {
        font-size: 0.9rem;
    }

    .l-con p {
        font-size: 12px;
    }

    .skill-card {
        width: 90%;
        max-width: 250px;
    }

    .l-img img {
        width: 100%;
        max-width: 250px;
    }

    .laravel-header h2 {
        font-size: 1.5rem;
    }

    .laravel-card {
        width: 90%;
        max-width: 250px;
    }

    .laravel-title {
        font-size: 14px;
    }

    .laravel-description {
        font-size: 12px;
    }
}

@media only screen and (max-width: 480px) {
    .l-con h1 {
        font-size: 0.9rem;
    }

    .l-con h2 {
        font-size: 0.8rem;
    }

    .l-con p {
        font-size: 11px;
    }

    .skill-card h3 {
        font-size: 0.9rem;
    }

    .skill-card p {
        font-size: 11px;
    }

    .laravel-header h2 {
        font-size: 1.2rem;
    }

    .laravel-title {
        font-size: 12px;
    }

    .laravel-description {
        font-size: 11px;
    }
}



/*python css style */
.py-info {
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    display: flex;

}

.py-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
    font-weight: 700;
}

.py-description {
    font-size: 16px;
    color: #333;
    margin-bottom: 5rem;
    line-height: 1.6;
}

.py-image-container {
    display: flex;
    justify-content: center;
}

.p-image {
    width: 50%;
    padding-top: 5%;
    height: auto;
    border-radius: 8px;
}

/* services */
.python-main {
    padding: 20px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
  }
  
  .python-services h2 {
    font-size: 2rem;
    color: #0262c9;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .py-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .py-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #007bff;
    padding: 20px;
    text-align: center;
    width: calc(33.33% - 20px);
    min-width: 280px;
  }
  
  .py-card h3 {
    font-size: 1.2rem;
    color: #333;
    margin: 10px 0;
  }
  
  .py-card p {
    font-size: 0.95rem;
    color: #555;
    line-height: 1.5;
  }
  
  .py-icon {
    font-size: 2rem;
    color: #007acc;
    margin-bottom: 10px;
  }
  
@media only screen and (max-width: 768px) {
    .python-main {
        flex-direction: column;
        padding: 2rem;
    }

    .python-services {
        padding: 1rem;
    }

    .python-services h2 {
        font-size: 1.3rem;
    }

    .python-services h5 {
        font-size: 12px;
    }

    .py-cards {
        justify-content: center;
    }

    .py-card {
        flex: 1 1 calc(50% - 20px);
        max-width: 90%;
    }

    .py-smage {
        margin-top: 1rem;
    }

    .py-s-image {
        max-width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .py-card {
        flex: 1 1 100%;
    }

    .python-services {
        padding: 0.5rem;
    }

    .python-services h2 {
        font-size: 1.1rem;
    }

    .python-services h5 {
        font-size: 11px;
    }

    .py-icon {
        font-size: 1.5rem;
    }

    .py-card h3 {
        font-size: 14px;
    }

    .py-card p {
        font-size: 12px;
    }

    .py-smage {
        margin-top: 1rem;
    }
}

/*web hosting css aply*/
.h-services {
    text-align: center;
    padding-top: 10%;
    background-color: #f9faff;
    margin-bottom: 5%;

}

.h-services h1 {
    font-size: 2rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

.h-services h2 {
    font-size: 1rem;
    color: rgb(49, 40, 175);
    font-family: 'Lucida Sans';
    margin-bottom: 40px;
}

.hosting-services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.hosting-services {
    background-color: white;
    border-radius: 10px;
    max-width: 300px;
    padding: 30px;
    gap: 20px;
    flex: 1 1 calc(33.33% - 50px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.host-i {
    font-size: 2rem;
    color: rgb(49, 40, 175);
    margin-bottom: 15px;
}

.hosting-services h3 {
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
}

.hosting-services p {
    font-size: 13px;
    color: #555;
    line-height: 1.5;
}


/*Responsive css style*/
@media only screen and (max-width: 768px) {
    .hosting-services {
        flex: 1 1 calc(50% - 20px);
        max-width: 90%;
    }

    .h-services h1 {
        font-size: 1.5rem;
    }

    .h-services h2 {
        font-size: 0.9rem;
    }

    .host-pic {
        height: 50vh;
    }

    .hosting-services h3 {
        font-size: 14px;
    }

    .hosting-services p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 480px) {
    .hosting-services {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .h-services {
        padding: 30px 10px;
    }

    .h-services h1 {
        font-size: 1.2rem;
    }

    .h-services h2 {
        font-size: 0.8rem;
    }

    .host-pic {
        height: 40vh;
    }

    .host-icon h1 {
        font-size: 2rem;
    }
}