.topnav {
  background-color: white;
  overflow: hidden;
  padding-left: 40%;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: #4e3b3b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.nav-i {

  margin-left: 5px;
  padding-top: 5px;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: rgb(68, 60, 60);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin-top: 4px;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {

  color: #0056b3;
}

.dropdown-content a:hover {

  color: #0056b3;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.navbar-action {
  display: flex;
  padding-left: 20%;
  gap: 10px;
}

.navbar-action .btn {
  background-color: #0056b3;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5%;
  color: white;
}

.navbar-action .btn:hover {
  background-color: #086fdd;
  color: white;
}

.nav-icon {
  display: none;
  font-size: 10px;
  color: #0056b3;
  cursor: pointer;
}

.dropdown-submenu p {
  float: none;
  color: #333;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  font-family: inherit;
  font-size: 15px;
  text-align: left;
  cursor: pointer;

}

.dropdown-submenu p:hover {
  color: #0056b3; 
}

.dropdown-submenu {
  position: relative;
}

.dropdown-subcontent {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  font-size: 14px;
  min-width: 200px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-submenu:hover .dropdown-subcontent {
  display: block;
}

@media screen and (max-width: 768px) {

  .topnav .nav-icon {
    display: block;
    font-size: 30px;
    color: #0056b3;
    cursor: pointer;
    margin: 10px 0;
    position: relative;
    left: 10px;
  }

  .topnav {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .topnav a,
  .topnav .dropdown,
  .navbar-action {
    display: none;
    text-align: center;
    align-items: center;
    width: 100%;
  }


  .topnav.responsive a,
  .topnav.responsive .dropdown,
  .topnav.responsive .navbar-action {
    display: block;
    text-align: center;
    padding-left: 20px;
  }
  
  .navbar-action {
    margin-bottom: 10px;
   
  }
  .btn{
    margin-left: 10px;
   
  }

  .dropdown-content,
  .dropdown-subcontent {
    position: static;
    box-shadow: none;
    display: none;
    width: 100%;
  }

  .dropdown-content a,
  .dropdown-submenu p,
  .dropdown-subcontent a {
    text-align: center;
    padding-left: 20px;
  }

 
  .topnav.fixed {
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 10;
  }
}

